###We first start by importing the necessary packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###We then load up our CSV

In [2]:
df = pd.read_csv('group 6 epl.csv')

###The business case is to check to see liverpool's performance at home vs away in the 2016/17 epl season

We know would like to get some info on the columns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Div               380 non-null    object
 1   Date              380 non-null    object
 2   HomeTeam          380 non-null    object
 3   AwayTeam          380 non-null    object
 4   FullTimeHomeGoal  380 non-null    int64
 5   FullTimeAwayGoal  380 non-null    int64
 6   FullTimeResult    380 non-null    object
 7   HalfTimeHomeGoal  380 non-null    int64
 8   HalfTimeAwayGoal  380 non-null    int64
 9   HalfTimeResult    380 non-null    object
 10  Referee           380 non-null    object
 11  HomeShots         380 non-null    int64
 12  AwayShots         380 non-null    int64
 13  HomeShotsTarget   380 non-null    int64
 14  AwayShotsTarget   380 non-null    int64
dtypes: int64(8), object(7)
memory usage: 44.7+ KB

We shall then filter out the games where liverpool played at home into a variable called home,
then view the first 5 samples and check the number of games

In [4]:
home = df[df['HomeTeam']=='Liverpool']
print(f'Liverpool played {len(home)} games at home \n See the first five')
home.head()

Liverpool played 19 games at home
 See the first five

,Div,Date,HomeTeam,AwayTeam,FullTimeHomeGoal,FullTimeAwayGoal,FullTimeResult,HalfTimeHomeGoal,HalfTimeAwayGoal,HalfTimeResult,Referee,HomeShots,AwayShots,HomeShotsTarget,AwayShotsTarget
33,E0,10 09 2016,Liverpool,Leicester,4,1,H,2,1,H,C Pawson,17,12,11,3
52,E0,24 09 2016,Liverpool,Hull,5,1,H,3,0,H,A Marriner,32,2,12,1
79,E0,17 10 2016,Liverpool,Man United,0,0,D,0,0,D,A Taylor,9,7,3,1
85,E0,22 10 2016,Liverpool,West Brom,2,1,H,2,0,H,N Swarbrick,21,6,7,1
108,E0,6 11 2016,Liverpool,Watford,6,1,H,3,0,H,M Oliver,28,11,17,8

###We shall also filter out Liverpool's away games into a variable called away

In [5]:
away = df[df['AwayTeam']=='Liverpool']
print(f'Liverpool played {len(away)} games away \n See the first five')
away.head()

Liverpool played 19 games away
 See the first five

,Div,Date,HomeTeam,AwayTeam,FullTimeHomeGoal,FullTimeAwayGoal,FullTimeResult,HalfTimeHomeGoal,HalfTimeAwayGoal,HalfTimeResult,Referee,HomeShots,AwayShots,HomeShotsTarget,AwayShotsTarget
7,E0,14 08 2016,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver,9,16,5,7
11,E0,20 08 2016,Burnley,Liverpool,2,0,H,2,0,H,L Mason,3,26,2,5
26,E0,27 08 2016,Tottenham,Liverpool,1,1,D,0,1,A,R Madley,11,13,4,3
40,E0,16 09 2016,Chelsea,Liverpool,1,2,A,0,2,A,M Atkinson,12,13,4,5
63,E0,1 10 2016,Swansea,Liverpool,1,2,A,1,0,H,M Oliver,8,18,3,6

In total we have 38 games to analyze and work with.

i. We shall perform an analysis on the fulltime goal performance throught the season (home and away) Daniel / Edith / Evelyn

The total full time goals scored at home(Anfield) for the season both sides

In [6]:
#The function variables shall be entered as slices of the full time goal columns in the home df
hg1 = home['FullTimeHomeGoal']
hg2 = home['FullTimeAwayGoal']
def ftscores(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool scored {a} goals at Anfield.')
    print(f'\nLiverpool conceded {b} goals at Anfield')
    
ftscores(hg1,hg2)

Liverpool scored 45 goals at Anfield.

Liverpool conceded 18 goals at Anfield

In [7]:
#Graphical Representation

The total full time goals scored away for the season both sides

In [8]:
#The function variables shall be entered as slices of the full time goal columns in the away df
ag1 = away['FullTimeHomeGoal']
ag2 = away['FullTimeAwayGoal']
def ftscores(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool conceded {a} goals away.')
    print(f'\nLiverpool scored {b} goals away')
    
ftscores(ag1,ag2)

Liverpool conceded 24 goals away.

Liverpool scored 33 goals away

In [9]:
#Graphical representation

In [10]:
#Comparison representation.

ii. We shall perform an analysis on the half time scores through out the season (home and away) Daniel / Edith / Evelyn

In [11]:
#The function variables shall be entered as slices of the half time goal columns in the home df
ht1 = home['HalfTimeHomeGoal']
ht2 = home['HalfTimeAwayGoal']
def htscores(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool scored {a} goals by half time at Anfield.')
    print(f'\nLiverpool conceded {b} goals by half at Anfield')
    
htscores(ht1,ht2)

Liverpool scored 24 goals by half time at Anfield.

Liverpool conceded 9 goals by half at Anfield

In [12]:
#Graphical representation

In [21]:
#The function variables shall be entered as slices of the half time goal columns in the away df
at1 = away['HalfTimeHomeGoal']
at2 = away['HalfTimeAwayGoal']
def htscores(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool conceded {a} goals by halftime playing away.')
    print(f'\nLiverpool scored {b} goals by halftime playing away')
    
htscores(at1,at2)

Liverpool conceded 11 goals by halftime playing away.

Liverpool scored 15 goals by halftime playing away

In [14]:
#Graphical representation

In [15]:
#Comparison representation

iii. We shall perform an analysis on the shots made (home and away) Evelyn / Joy / Daniel

In [19]:
#The function variables shall be entered as slices of the shots columns in the home df
hs1 = home['HomeShots']
hs2 = home['AwayShots']

def hshots(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool managed to get {a} shots at Anfield.')
    print(f'\nLiverpool received {b} shots at Anfield')

hshots(hs1,hs2)

Liverpool managed to get 331 shots at Anfield.

Liverpool received 141 shots at Anfield

In [ ]:
#Graphical representation

In [23]:
#The function variables shall be entered as slices of the shots columns in the away df
as1 = away['HomeShots']
as2 = away['AwayShots']

def ashots(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Opponents attempted {a} shots at their home grounds.')
    print(f'\nLiverpool attempted {b} shots away')

ashots(as1,as2)

Opponents attempted 166 shots at their home grounds.

Liverpool attempted 307 shots away

In [ ]:
#Graphical representation

iv. We shall perform an analysis on the shots on target (home and away) Evelyn / Joy / Daniel

In [24]:
#The function variables shall be entered as slices of the shots columns in the home df
hst1 = home['HomeShotsTarget']
hst2 = home['AwayShotsTarget']

def htshots(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Liverpool had {a} shots on target at Anfield.')
    print(f'\nOpponents had {b} shots on target at Anfield')

htshots(hst1,hst2)

Liverpool had 127 shots on target at Anfield.

Opponents had 45 shots on target at Anfield

In [33]:
#The function variables shall be entered as slices of the shots columns in the away df
ast1 = away['HomeShotsTarget']
ast2 = away['AwayShotsTarget']

def atshots(x,y):
    a = x.sum()
    b = y.sum()
    print(f'Opponents had {a} shots on target at their home grounds.')
    print(f'\nLiverpool had {b} shots on target playing away')

atshots(ast1,ast2)

Opponents had 69 shots on target at their home grounds.

Liverpool had 109 shots on target playing away

v. We shall perform an analysis on the half time result and full time result Daniel / Brian / Evelyn

In [38]:
#The function variables shall be entered as slices of the shots columns in the home df
hr1 = home['HalfTimeResult']
fr2 = home['FullTimeResult']
print('While playing at Home(Anfield)')
def hhtftr(x,y):
   
    a = x.value_counts()
    b = y.value_counts()
    print(f'The halftime results were as follows {a}.')
    print(f'\nThe full time results were as follows {b}.')

print('H - Home(Liverpool), D - Draw, A - Away')
htftr(hr1,fr2)

While playing at Home(Anfield)
H - Home, D - Draw, A - Away
The halftime results were as follows HalfTimeResult
H    10
D     7
A     2
Name: count, dtype: int64.

The full time results were as follows FullTimeResult
H    12
D     5
A     2
Name: count, dtype: int64.

In [ ]:
#Graphical representation

In [40]:
#The function variables shall be entered as slices of the shots columns in the away df
hr1 = away['HalfTimeResult']
fr2 = away['FullTimeResult']
print('While playing away')
def ahtftr(x,y):
   
    a = x.value_counts()
    b = y.value_counts()
    print(f'The halftime results were as follows {a}.')
    print(f'\nThe full time results were as follows {b}.')

print('H - Home, D - Draw, A - Away(Liverpool)')
ahtftr(hr1,fr2)

While playing away
H - Home, D - Draw, A - Away(Liverpool)
The halftime results were as follows HalfTimeResult
A    9
D    5
H    5
Name: count, dtype: int64.

The full time results were as follows FullTimeResult
A    10
D     5
H     4
Name: count, dtype: int64.

In [ ]:
Graphical representation