###We first start by importing the necessary packages

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###We then load up our CSV

In [4]:
df = pd.read_csv('group 6 epl.csv')

###The business case is to check to see liverpool's performance at home vs away in the 2016/17 epl season

We know would like to get some info on the columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Div               380 non-null    object
 1   Date              380 non-null    object
 2   HomeTeam          380 non-null    object
 3   AwayTeam          380 non-null    object
 4   FullTimeHomeGoal  380 non-null    int64
 5   FullTimeAwayGoal  380 non-null    int64
 6   FullTimeResult    380 non-null    object
 7   HalfTimeHomeGoal  380 non-null    int64
 8   HalfTimeAwayGoal  380 non-null    int64
 9   HalfTimeResult    380 non-null    object
 10  Referee           380 non-null    object
 11  HomeShots         380 non-null    int64
 12  AwayShots         380 non-null    int64
 13  HomeShotsTarget   380 non-null    int64
 14  AwayShotsTarget   380 non-null    int64
dtypes: int64(8), object(7)
memory usage: 44.7+ KB

In [ ]:
We shall then filter out the games where liverpool played at home into a variable called home

In [10]:
home = df[df['HomeTeam']=='Liverpool']
home.head()

19

###We shall also filter out Liverpool's away games into a variable called away

In [9]:
away = df[df['AwayTeam']=='Liverpool']
away.head()

,Div,Date,HomeTeam,AwayTeam,FullTimeHomeGoal,FullTimeAwayGoal,FullTimeResult,HalfTimeHomeGoal,HalfTimeAwayGoal,HalfTimeResult,Referee,HomeShots,AwayShots,HomeShotsTarget,AwayShotsTarget
7,E0,14 08 2016,Arsenal,Liverpool,3,4,A,1,1,D,M Oliver,9,16,5,7
11,E0,20 08 2016,Burnley,Liverpool,2,0,H,2,0,H,L Mason,3,26,2,5
26,E0,27 08 2016,Tottenham,Liverpool,1,1,D,0,1,A,R Madley,11,13,4,3
40,E0,16 09 2016,Chelsea,Liverpool,1,2,A,0,2,A,M Atkinson,12,13,4,5
63,E0,1 10 2016,Swansea,Liverpool,1,2,A,1,0,H,M Oliver,8,18,3,6